#root {
	padding: 0;
	text-align: center;
	max-width: 1680px;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	background: #EBECEE;
}

.elemento {
	padding-top: 50px;
}